
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.App {
  text-align: center;
  background-color: #4B0082;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.app-header {
  background-color: #360660;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
  border-radius: 50px
}
.title{
  font-family: 'Source Code Pro', monospace;
}

.word-display {
  border: 3px solid red;
  min-height: 15vmin;
  min-width: 50vw;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 1.9em;
  font-family: 'Source Code Pro', monospace;
}

.word-input{
  min-height: 5vh;
  min-width: 50vw;
  border: 3px solid red;
  border-radius: 20px;
  font-size: 1.4em;
  background-color: purple;
  color: white;
}

.rule-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; 
  border-radius: 50px;
  padding: 0 5vh 5vh 5vh;
}

.start-game {
  min-height: 10vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
  font-size: 1.7em;
  color: white;
  border: 3px solid red;
  border-radius: 20px;
}

.timer{
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
}

.enter-name{
  min-height: 5vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #360660; 
  border: 3px solid red;
  font-size: 1.3em;
  color: white;
}

.name-header{
  font-size: 1.4em;
  font-family: 'Source Code Pro', monospace;
}

.name-label{
  font-size: 1.1em;
  font-family: 'Source Code Pro', monospace;
}

.score-label{
  font-size: 1.2em;
  font-family: 'Source Code Pro', monospace;
}

/*.App-link {
  color: #61dafb;
}*/
