.App {
  text-align: center;
  background-color: #4B0082;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.word-display {
  border: 3px solid red;
  height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.app-header {
  background-color: #000080;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
  border-radius: 50px
}

.rule-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; 
  border-radius: 50px;
  padding: 0 5vh 0 5vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
